<?xml version="1.0"?>
 <robot name="cover">
  <link name="base_link">
    <visual>
     <geometry>
      <cylinder length="0.02" radius="0.03"/>
     </geometry>
     <material name="blue">
      <color rgba="0 0 .8 1"/>
     </material>
    </visual>
    <collision>
     <geometry>
      <cylinder length="0.02" radius="0.03"/>
     </geometry>
    </collision>
    <inertial>
      <mass value="5"/>
      <inertia ixx="0.2" ixy="0.0" ixz="0.0" iyy="0.2" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>
 </robot>


<!--
 <inertial>
    <mass value="10"/>
    <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
</inertial>
-->
